
$primary-color:#212529;
$secundary-color:#111111;
$terciary-color:#f5f9fa;
$label-color:#888888;
$blue-color:#0d6efd;
$gray-color:#4b4c4d;
$sidebar-color:#565758;
$white-secundary-color:#E1E4EA;
$whitesmoke:whitesmoke;
$unitEM:0.2em;
$unitREM:0.2rem;
$unitpx:1px;
$font-sizeGeneral:15px;
$unitFr:1fr;
$desaparecer:none;
$oculto:hidden;

@function sizeEM($value){
    @return $value * $unitEM;
}
@function sizeREM($value){
    @return $value * $unitREM;
}

@mixin flex-column{
    display: flex;
    flex-direction:column ;
}

@mixin flex-centerJustifyItems {
    display: flex;
    justify-items: center;
}


@mixin flex-centerAlignItems {
    display: flex;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}